<div class="container">
  <%= render partial:"form",
    locals:{ hiker: @hiker, action: :update, button_text: "Update Hiker!" } %>
  <br/><%= link_to "Back to profile", hiker_path(params[:id]), class: "btn btn-default" %>
</div>
