<div class="container">
  <div class="background"></div>
  <h1>Hikers</h1>
  <table class="table">
    <% @hikers.each do |hiker| %>
    <tr>
      <td><%= link_to "#{hiker.name}", hiker_path(id: hiker.id), class: "black-link" %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Find a Hike", hikes_path, class: "btn btn-default" %>
  <% if @current_user.nil? %>
    <%= link_to "Create Hiker Account", new_hiker_path, class: "btn btn-default" %>
  <% end %>
</div>
