<div class="container">
  <h1>Hikers</h1>
  <ul>
    <% @hikers.each do |hiker| %>
      <li> <%= link_to "#{hiker.name}", hiker_path(id: hiker.id) %></li>
    <% end %>
  </ul>
  <%= link_to "See All Hikes", hikes_path, class: "btn btn-default" %>
</div>
