<div class="container">
  <%= render partial:"form",
    locals:{ hiker: @hiker, action: :create, button_text: "Add Hiker!" } %>
  <%= link_to "All Hikers", hikers_path, class: "btn btn-default" %>
</div>
