<div>
  <div class="background"></div>
  <h1 class="intro">Welcome</h1>
  <%= link_to "See all hikes", hikes_path, class: "btn btn-default" %>
  <br>
  <%= link_to "Login to your page", new_session_path, class: "btn btn-default" %>
  <br>
  <%= link_to "Create an account", new_hiker_path, class: "btn btn-default" %>
</div>
