
 /***************************************************************************
 MAP Stuffs
 ****************************************************************************/
 #map-container {
    height: 466px;
    max-width: 1170px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin: 25px 60px 0px 60px;
    border-width: 7px;
  }
  #map-canvas {
    height:450px;
    max-width: none;
  }

  /* Bootstrap Css Map Fix*/
  #map-container #map-canvas img {
    max-width: none;
  }
  /* Bootstrap Css Map Fix*/
  #map-container #map-canvas label {
    width: auto; display:inline;
  }

  @import "bootstrap-sprockets";
  @import "bootstrap";
  /***************************************************************************
  Body
  ****************************************************************************/
  body {
    font-family: 'PT Serif', serif;
      font-size: 16px;
      line-height: 23px;
      margin: 0 0 23px 0;
    margin: 0;
    background: image-url('mtns.jpg');
    background-size: 1440px 800px;
    background-repeat: no-repeat;
    background-color: #000529;
    }

    div.container {
      background-color: #F1F2F2;
      opacity: 0.75;
      padding: 30px;
      margin: 60px;
      margin-top: 100px;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    h1 {
      text-align: center;
      padding: 25px;
      padding-top: 40px;
      font-family: 'Muli', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 50px;
        margin: 0 0 23px 0;
    }

    h2 {
      text-align: center;
    }

    .table-division {
      border-top-style: solid;
      border-top-width: medium;
    }

  /***************************************************************************
  OTHER
  ****************************************************************************/
